@use '../../../../scss/variables' as *;

.button {
  min-width: 26rem;
  min-height: 6.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10.5rem;
  cursor: pointer;

  &:hover {
    filter: opacity(0.8);
    transition: all 0.5s ease-in-out;
  }

  .button__text {
    font-size: 4rem;
  }
}